---
id: "root"
---
<html>

<head>
  <link rel="stylesheet" href="./src/styles.css">
</head>

<body>
  <div class="sign-box">
    <form class="form" name="signin_form">
      <h1 class="form_title">Вход</h1>
      <input class="form_input" name="login" type="text" placeholder="Логин" value="" />
      <input class="form_input" name="password" type="password" placeholder="Пароль" value="" />
      <button class="form_submit" type="submit">Авторизоваться</button>
      <p class="form_link">
        <a href="./src/signup.hbs">Нет аккаунта?</a>
      </p>
    </form>
  </div>
</body>

</html>
