<html>

<head>
  <title>chatApp</title>
  <link rel="stylesheet" href="./styles.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <div class="container">
    <div class="leftSide">
      <!-- header -->
      <div class="header">
        <a class="userimg" href="./profile.hbs">
          <img src="../static/avatar.jpg" class="cover">
        </a>
        <ul class="nav_icons">
          <li><ion-icon name="ellipsis-vertical"></ion-icon></ui>
        </ul>
      </div>
      <!-- search -->
      <div class="search_chat">
        <div>
          <input type="text" placeholder="Поиск нового чата">
          <ion-icon name="search-outline"></ion-icon>
        </div>
      </div>
      <!-- chat list -->
      <div class="chatlist">
        <div class="block active">
          <div class="imgbx">
            <img src="../static/avatar.jpg" class="cover">
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Наставшев Юрий</h4>
              <p class="time">10:56</p>
            </div>
            <div class="message_p">
              <p>Как сделать чат используя html и CSS</p>
            </div>
          </div>
        </div>
        <div class="block unread">
          <div class="imgbx">
            <img src="../static/avatar.jpg" class="cover">
          </div>
          <div class="details">
            <div class="listHead">
              <h4>Светлана Иванова</h4>
              <p class="time">12:36</p>
            </div>
            <div class="message_p">
              <p>Привет, я нашла тебя в Телеграмме</p>
              <b>1</b>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rightSide">
      <div class="header">
        <div class="imgText">
          <div class="userimg">
            <img src="../static/avatar.jpg" class="cover">
          </div>
          <h4>Наставшев Юрий<br><span>online</span></h4>
        </div>
        <ul class="nav_icons">
          <li><ion-icon name="search-outline"></ion-icon></ui>
          <li><ion-icon name="ellipsis-vertical"></ion-icon></ui>
        </ul>
      </div>
      <!-- chatbox -->
      <div class="chatBox">
        <div class="message my_message">
          <p>Добрый день!<br><span>12:30</span></p>
        </div>
        <div class="message frnd_message">
          <p>Привет!<br><span>12:45</span></p>
        </div>
      </div>
      <!-- chat input -->
      <div class="chatbox_input">
        <ion-icon name="happy-outline"></ion-icon>
        <ion-icon name="attach-outline"></ion-icon>
        <input type="text" placeholder="Напечатать сообщение">
        <ion-icon name="send-outline"></ion-icon>
      </div>
    </div>
  </div>
</body>

</html>
