<html>

<head>
  <link rel="stylesheet" href="./styles.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <div class="avabx">
    <img src="../static/avatar.jpg" class="cover">
  </div>
  <a class="backbtn" href="./chats.hbs">
    <ion-icon name="arrow-back"></ion-icon>
  </a>
  <div class="profile-box">
    <div>
      <label for="email">Почта</label>
      <input name="email" type="email" value="">
      <ion-icon name="pencil-outline"></ion-icon>
      <label for="login">Логин</label>
      <input name="login" type="text" value="">
      <ion-icon name="pencil-outline"></ion-icon>
      <label for="first_name">Имя</label>
      <input name="first_name" type="text" value="">
      <ion-icon name="pencil-outline"></ion-icon>
      <label for="second_name">Фамилия</label>
      <input name="second_name" type="text" value="">
      <ion-icon name="pencil-outline"></ion-icon>

      <label for="phone">Номер телефона</label>
      <input name="phone" type="phone" value="">
      <ion-icon name="pencil-outline"></ion-icon>
    </div>
  </div>
</body>

</html>
