<html>

<head>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div class="sign-box">
    <form name="signup_form">
      <h1>Регистация</h1>
      <input name="login" type="text" placeholder="Логин" value="" />
      <input name="email" type="email" placeholder="Почта" value="" />
      <input name="first_name" type="text" placeholder="Имя" value="" />
      <input name="second_name" type="text" placeholder="Фамилия" value="" />
      <input name="phone" type="phone" placeholder="Телефон" value="" />
      <input name="password" type="password" placeholder="Пароль" value="" />
      <input name="confirmation" type="password" placeholder="Пароль (еще раз)" value="" />
      <button type="submit">Зарегистрироваться</button>
      <p><a href="./chats.hbs">Войти</a></p>
    </form>
  </div>
</body>

</html>
